
.container h1 {
text-align: center;
font-family: 'Poppins';
font-size: 30px;
}
.container h2{
    text-align: center;
    font-family: 'Poppins';
    font-size: 15px;
    color: grey;
}
.border-primary{
    border-color: #0c63ff;
    
}
.sr-offer-one-col-01 .form-wrapper{
    background-color: #fff;
    border: 1px solid;
    padding: 3rem 5.5rem;
    border-top-color: initial;

}
.h1 heading-span{
    color:lightgrey;
}



body{
    line-height: 1.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
   
}
.pgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: stretch;
  }
  .pgrid img {
    border: 1px solid #ccc;
    max-width: 100%;
  }
  
  #mainnav{
    max-height:74px;
  }
  .navbar {
    font-family: "Poppins", sans-serif !important;
  }
  
  .navbar a {
    color: grey !important;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  
  #Started {
    font-size: 16px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0c63ff;
  }
  
  #navbarDropdown1 {
    margin-left: 30px;
    padding-left: 630px;
  }
  
  #navbarDropdown2 {
    padding-left: 7px;
  }

 .courses{
     font-size: 12.25px;
     font-family: 'Poppins';
     color: #30343B;
     text-align: left;

 }

 .buttons{
     text-align: left;
     font-family: 'Poppins';
     color: #87909E;
     
 }
